In [110]:
import os
import re
import pandas as pd
import glob

In [111]:
# move over to the project root directory
project_dir = os.getcwd().rsplit('hichip-db-loop-calling', 1)[0]
project_dir = os.path.join(project_dir, 'hichip-db-loop-calling/')
os.chdir(project_dir)

In [112]:
fns = glob.glob('results/fastqs/stats/*/*.num_reads.txt')

In [115]:
def get_num_from_file(file):
    with open(file) as fr:
        num = int(fr.read())
    return(num)

In [116]:
read_counts = []
for fn in fns:
        
    file_info = fn.split('/')
    sample_name = file_info[3]
    source = 'dbgap' if sample_name.split('.')[1].startswith('phs') else 'geo'
    srr_id = file_info[4].rsplit('.', 3)[1]

    # get the number of reads
    num_reads = get_num_from_file(fn)
    read_counts.append([sample_name, srr_id, num_reads])

In [117]:
read_counts = pd.DataFrame(read_counts)
read_counts.columns = ['std_sample_name', 'srr_id', 'read_counts']

In [118]:
read_counts

,std_sample_name,srr_id,read_counts
0,293T-PDS.GSE128106.Homo_Sapiens.YY1.b1,SRR8707617,50913880
1,293T-PDS.GSE128106.Homo_Sapiens.YY1.b1,SRR8707618,40894724
2,GM12878.GSE80820.Homo_Sapiens.SMC1A.b1,SRR3467175,320798100
3,GM12878.GSE80820.Homo_Sapiens.SMC1A.b1,SRR3467176,213058076
4,MyLa.GSE137906.Homo_Sapiens.H3K27ac.b1,SRR10168922,449436074
...,...,...,...
992,H9.GSE105028.Homo_Sapiens.CTCF.b1,SRR6206793,43893780
993,H9.GSE105028.Homo_Sapiens.CTCF.b1,SRR6206795,83483476
994,Naive_B_1815-RH-1.phs001703v3p1.Homo_Sapiens.H...,Donor3_Rep3_T1,16865334
995,Naive_B_1815-RH-1.phs001703v3p1.Homo_Sapiens.H...,Donor3_Rep3_T2,16905092
996,Monocyte_1815-RH-1.phs001703v3p1.Homo_Sapiens....,Donor3_Rep1,336276052

In [119]:
summary_fn = 'tables/fastq.read_counts.tsv'
read_counts.to_csv(summary_fn, index=False, sep='\t')