In [14]:
import os
import sys
import pandas as pd
import tracker
latest_date = tracker.processing_dates[-1]
os.chdir('/mnt/bioadhoc-temp/Groups/vd-ay/kfetter/hichip-db-loop-calling/')

In [15]:
latest_date='2022.10.20.09.39'

In [16]:
# setting input and output with jupyter notebook in context 
if 'ipykernel_launcher.py' in sys.argv[0]:
    input_fn = 'results/samplesheets/fastq/{}.fastq.samplesheet.with_header.tsv'.format(latest_date)
    output_prefix = 'results/samplesheets/hicpro/{}.hicpro.samplesheet'.format(latest_date)
else:
    input_fn = sys.argv[1]
    output_prefix = sys.argv[2]

In [17]:
# loading the samplesheet
df = pd.read_table(input_fn)

In [18]:
df

,std_sample_name,gse_id,gsm_id,srr_id,organism,bio_rep,tech_rep,antibody_target,restriction_enzyme,sample_name
0,293T.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,GSM3664990,SRR8707613,Homo_Sapiens,1,1,YY1,HindIII,293T
1,293T.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,GSM3664991,SRR8707614,Homo_Sapiens,1,2,YY1,HindIII,293T
2,293T.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,GSM3664992,SRR8707615,Homo_Sapiens,1,3,YY1,HindIII,293T
3,293T.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,GSM3664993,SRR8707616,Homo_Sapiens,1,4,YY1,HindIII,293T
4,293T-PDS.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,GSM3664994,SRR8707617,Homo_Sapiens,1,1,YY1,HindIII,293T-PDS
...,...,...,...,...,...,...,...,...,...,...
750,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,NaN,NaN,Homo_Sapiens,1,2,H3K27ac,MboI,Nonclassical_Monocyte_1831
751,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,NaN,NaN,Homo_Sapiens,2,1,H3K27ac,MboI,Nonclassical_Monocyte_1831
752,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,NaN,NaN,Homo_Sapiens,2,2,H3K27ac,MboI,Nonclassical_Monocyte_1831
753,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,NaN,NaN,Homo_Sapiens,3,1,H3K27ac,MboI,Nonclassical_Monocyte_1831
754,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,NaN,NaN,Homo_Sapiens,4,1,H3K27ac,MboI,Nonclassical_Monocyte_1831

In [19]:
ready_df = df.drop_duplicates(subset=['std_sample_name', 'gse_id', 'gsm_id', 'srr_id'])
ready_df.drop(['tech_rep'], axis=1, inplace=True)

/tmp/ipykernel_99845/714533554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ready_df.drop(['tech_rep'], axis=1, inplace=True)

In [20]:
reorder = ['std_sample_name',
             'gse_id',
             'organism',
             'bio_rep',
             'antibody_target',
             'restriction_enzyme',
             'sample_name']

In [21]:
ready_df = ready_df[reorder]
ready_df.drop_duplicates('std_sample_name', inplace=True)

/tmp/ipykernel_99845/1430950553.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ready_df.drop_duplicates('std_sample_name', inplace=True)

In [22]:
header_output = '{}.with_header.tsv'.format(output_prefix)
ready_df.to_csv(header_output, header=True, index=False, sep='\t')

In [23]:
without_header_output = '{}.without_header.tsv'.format(output_prefix)
ready_df.to_csv(without_header_output, header=False, index=False, sep='\t')

In [24]:
header_output

'results/samplesheets/hicpro/2022.10.20.09.39.hicpro.samplesheet.with_header.tsv'

In [25]:
ready_df.shape

(486, 7)

In [26]:
ready_df

,std_sample_name,gse_id,organism,bio_rep,antibody_target,restriction_enzyme,sample_name
0,293T.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,Homo_Sapiens,1,YY1,HindIII,293T
4,293T-PDS.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,Homo_Sapiens,1,YY1,HindIII,293T-PDS
6,293T-TMPYP4.GSE128106.Homo_Sapiens.YY1.b1,GSE128106,Homo_Sapiens,1,YY1,HindIII,293T-TMPYP4
8,A673_SA1m1.GSE133227.Homo_Sapiens.CTCF.b1,GSE133227,Homo_Sapiens,1,CTCF,MboI,A673_SA1m1
9,A673_SA1m1.GSE133227.Homo_Sapiens.CTCF.b2,GSE133227,Homo_Sapiens,2,CTCF,MboI,A673_SA1m1
...,...,...,...,...,...,...,...
748,Nonclassical_Monocyte_1816.phs001703v4p1.Homo_...,phs001703v4p1,Homo_Sapiens,4,H3K27ac,MboI,Nonclassical_Monocyte_1816
749,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,Homo_Sapiens,1,H3K27ac,MboI,Nonclassical_Monocyte_1831
751,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,Homo_Sapiens,2,H3K27ac,MboI,Nonclassical_Monocyte_1831
753,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,Homo_Sapiens,3,H3K27ac,MboI,Nonclassical_Monocyte_1831
754,Nonclassical_Monocyte_1831.phs001703v4p1.Homo_...,phs001703v4p1,Homo_Sapiens,4,H3K27ac,MboI,Nonclassical_Monocyte_1831